body{
    margin: 0;
    background-color: #1f2937;
}

nav{
    background-color: #1f2937;
    padding-top: 10px;
    display: flex;
}

.logo{
    color: #f9faf8;
    font-size: 24px;
    padding-left: 200px;
}


a{
    color: #e5e7eb;

}

nav > ul{

    font-size: 18px;
    list-style: none;
    display: flex;
    margin: 0;
    padding-left: 800px;
}

nav > ul > li{
    padding: 10px;
}

h1 {
    font-size: 48px;
    font-weight: extra-bold;
    color: #f9faf8;
}

p{
    font-size: 18px;
    color: #e5e7eb;
}

section{
    display: flex;
    align-items: center;
    padding: 1rem 14rem 7rem;;
}

.left{
    flex: 1 1 0;
}

.right{
    flex: 1 1 0;
}